<?xml version="1.0" encoding="utf-8"?>

<!--
Purpose: Sets the identity server to use the sc.variable value instead
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <commerceEngineConfiguration>
      <sitecoreIdentityServerUrl>$(identityServerAuthority)</sitecoreIdentityServerUrl>
    </commerceEngineConfiguration>
  </sitecore>
</configuration>
